table {
  border-collapse: collapse;
  width: 33%;
}

th {
  padding: 10px;
  padding-bottom: 15px;
  text-align: left;
  font-weight: normal;
  word-wrap: break-word;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
  max-width: 100%;
}

td.test {
  font-weight: bold;
  font-size: 22px;
}
