.question-card {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid white;
  height: auto;
}
