.question-card {
  background-color: white;
  display: block;
  flex-flow: row wrap;
  align-items: center;
  padding: 5%;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid white;
  height: auto;
}
