.add-patient-form-container {
  padding: 5px;
  border: 5px solid red;
  border-radius: 10px;
  width: 400px;
  height: 400px;
}

.buttons {
  padding: 5px;
}

.add-patient-text-input {
  padding: 5px;
}
