.qs-list-container {
  border: 5px solid yellowgreen;
}

.qs-list-item {
  border: 5px solid orange;
  display: flex;
  justify-content: space-evenly;
}

.qs-list-item-1 {
}

.qs-list-item-2 {
}

.qs-list-item-3 {
}

.qs-list-item-4 {
}
