.qs-header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.qs-header-text {
  font-weight: bold;
  font-size: 22px;
}

.qs-header-dates {
  display: flex;
}

.qs-header-from-date {
  padding-right: 20px;
}

.qs-header-to-date {
}
